.container-theme {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-left: 2rem;
}

.style-selection {
  min-width: 9.375rem;
  text-align: center;
  background-color: var(--shape-button);
  border: 0.5px solid var(--input-stroke);
  padding: 0.2rem;
  border-radius: 0.5rem;
  padding-bottom: 0.5rem;

  img {
    width: 100%;
  }

  p{
    padding-top: 0.2rem;
  }
}