.container-theme {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.style-selection {
  min-width: 9.375rem;
  text-align: center;
  background-color: var(--shape-button);
  border: 0.3rem solid transparent;
  padding: 0.2rem;
  border-radius: 0.5rem;
  padding-bottom: 0.5rem;

  img {
    width: 100%;
  }

  p {
    padding-top: 0.2rem;
  }
}

.style-selection:hover {
  border: 0.2rem solid white;
}

.style-selection:has(input[type="radio"]:checked) {
  border: 0.2rem solid white;
}

.check-color-theme {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.switch {
  position: relative;
  width: 3.125rem;
  height: 1.5rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--input-base);
  border: 0.0625rem solid var(--input-stroke);
  border-radius: 3.125rem;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.125rem;
  width: 1.125rem;
  left: 0.125rem;
  bottom: 0.125rem;
  background-color: var(--input-stroke);
  border-radius: 50%;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--shape-button);
}

input:checked+.slider:before {
  transform: translateX(1.625rem);
  background-color: var(--text-heading);
}

.toggle-label {
  margin-left: 0.625rem;
  color: var(--text-heading);
  font-size: 0.875rem;
}

.custom-file-upload {
  display: flex;
  align-items: center;
  gap: 1rem; 
}

.file-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--shape-button);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.file-name {
  font: var(--body-md);
  color: var(--input-placeholder);
}

.style-space {
  margin-right: 2rem;
}

.upload-icon {
  display: inline-block;
  background: no-repeat;
  background-size: cover;
  height: 1rem;
  width: 1rem;
  background-image: url("../assets/icons/upload-after.svg");
  cursor: pointer;  
}

input[type="file"] {
  display: none;
}

input[type="checkbox"] {
  display: none;
}

.label-checkbox {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.custom-checkbox {
  display: inline-block;
  min-width: 1rem;
  min-height: 1rem;
  background-image: url("../assets/icons/checkbox.svg");
  background-size: cover;
  margin-right: 0.25rem;
  cursor: pointer;
}

input[type="checkbox"]:checked + .custom-checkbox {
  background-image: url("../assets/icons/checkbox-checked.svg");
}

.invite-button {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  background-color: var(--brand-dark);
  color: white;
  padding: 0.625rem 1.25rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.invite-button:hover {
  background-color: var(--brand-mid);
}

.invite-button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.btn-submit {
  display: flex;
  justify-content: end;
  margin-top: 2.5rem;
}

