* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family-leckerlione: "Leckerli One";
  --font-family-baloo2: "Baloo 2";
  --font-family-opensans: "Open Sans", serif;
  --textlogo: 400 2.5rem var(--font-family-leckerlione);
  --heading-md: 700 1.75rem var(--font-family-baloo2);
  --heading-sm: 700 1.125rem var(--font-family-baloo2);
  --body-md: 400 1rem var(--font-family-opensans);
  --body-sm: 400 0.875rem var(--font-family-opensans);
  --body-sm-bd: 600 0.875rem var(--font-family-opensans);
  --body-xs: 400 0.75rem var(--font-family);

  /* text */
  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;

  /* brand color */
  --brand-ligth: #59b2ff;
  --brand-mid: #3487cf;
  --brand-dark: #1d6fb6;

  /* feedback color */
  --danger: #ff5959;

  /* Input */
  --input-base: #1c1f21;
  --input-stroke: #363b40;
  --input-placeholder: #869198;

  /* shape */
  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2d3136;
  --shape-hover: #383d42;

  /* customize radio */
  --blue-radio: #59b2ff;
  --navy-radio: #6a59ff;
  --purple-radio: #b259ff;
  --fuschia-radio: #ff59f9;
  --pink-radio: #ff598b;
  --red-radio: #ff5959;
  --orange-radio: #ff8b59;
  --yellow-radio: #ffcd59;
  --lime-radio: #e1ff59;
  --green-radio: #59ff91;
  --cyan-radio: #59fff9;
}
