#color-blue {
  background-color: var(--blue-radio);
}

#color-navy {
  background-color: var(--navy-radio);
}

#color-purple {
  background-color: var(--purple-radio);
}

#color-fuschia {
  background-color: var(--fuschia-radio);
}

#color-pink {
  background-color: var(--pink-radio);
}

#color-red {
  background-color: var(--red-radio);
}

#color-orange {
  background-color: var(--orange-radio);
}

#color-yellow {
  background-color: var(--yellow-radio);
}

#color-lime {
  background-color: var(--lime-radio);
}

#color-green {
  background-color: var(--green-radio);
}

#color-cyan {
  background-color: var(--cyan-radio);
}

.radio-wrapper {
  display: flex;
  gap: 0.5rem;
  background-color: var(--input-base);
  padding: 0.375rem;
  border: solid 0.0625rem var(--input-stroke);
  border-radius: 0.5rem;
}

.radio-custom-checkbox {
  display: inline-block;
  object-fit: cover;
  margin-right: 0.25rem;
  width: 1rem;
  height: 1rem;
  background-image: url("../assets/icons/in-person-before.svg");
  cursor: pointer;
}

input[type="radio"]:checked + .radio-custom-checkbox {
  background-image: url("../assets/icons/in-person-after.svg");
}

.radio-input-wrapper {
  display: flex;
  flex: 1fr 1fr;
  gap: 0.625rem;

  .input-wrapper {
    width: 100%;
  }
}

.radio-option-color {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.radio-inner-color {
  background-color: var(--shape-button);
  border-radius: 60%;
  display: inline-block;
  gap: 0.5rem;
  padding: 0.75rem;
  width: 0.5rem;
  height: 0.5rem;
  border: .3rem solid var(--shape-button);
  cursor: pointer;
}

.radio-inner-color:hover{
  color: white;
  border: .3rem solid;
}

.radio-inner-color:checked{
  color: white;
  border: .3rem solid;
}

.radio-inner {
  background-color: var(--shape-button);
  border-radius: 0.3185rem;

  display: flex;
  justify-items: center;
  gap: 0.6rem;
  padding: 0.3rem 0.65rem;

  & input,
  & input:hover {
    all: unset;
  }
}
