.text-logo {
  font: var(--textlogo);
  color: var(--text-heading);
}

.body-md {
  font: var(--body-md);
  color: var(--text-heading);
}

.heading-md {
  font: var(--heading-md);
  color: var(--text-heading);
}

.heading-sm {
  font: var(--heading-sm);
  color: var(--text-heading);
}

.body-sm {
  font: var(--body-sm);
  color: var(--text-body);
}

.body-sm-bd {
  font: var(--body-sm-bd);
  color: var(--text-body);
}
